<div Style="background-color:#AD24A2" class="pt-2">
    <MudContainer MaxWidth="MaxWidth.Large" Class="pt-8 pb-8">
        <Home></Home>
    </MudContainer>
</div>
<MudContainer MaxWidth="MaxWidth.Large" Class="pt-8 pb-8">
    <MudPaper Elevation="0" Class="d-flex justify-center flex-grow-1">
        <MudStack>
            <MudText Typo="Typo.h4" Class="align-self-center">
                Generate unlimited projects with no string attached.
            </MudText>
            <MudText Typo="Typo.h6" Class="align-self-center">
                convert your ideas into source code within minutes, get your REST API or Admin panel generated instantly.
            </MudText>
        </MudStack>
    </MudPaper>
</MudContainer>
<MudContainer MaxWidth="MaxWidth.Large" Class="pt-8 pb-8">
    <MudGrid>
        <MudItem xs="12" sm="6" md="4" lg="4">
            <MudPaper Class="d-flex align-start justify-center mud-width-full py-8 px-12 play-button" Height="350px" Elevation="24">
                <MudStack Class="d-flex align-center justify-center mud-width-full">
                    <MudIcon Icon="@Icons.Filled.Business" Color="Color.Primary" Size="Size.Large" Class="mud-icon-big-font" />
                    <MudText Typo="Typo.h4">Entrepreneur</MudText>
                    <MudText Typo="Typo.body2">With your great idea you need a great team, without investment if you want to start something. The tool can reduce your development efforts to 70% with providing you full source code in less than you can think about it. Just plug your business logic and you are ready to go.</MudText>
                </MudStack>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="4">
            <MudPaper Class="d-flex align-start justify-center mud-width-full py-8 px-8" Height="350px" Elevation="24">
                <MudStack Class="d-flex align-center justify-center mud-width-full">
                    <MudIcon Icon="@Icons.Filled.Computer" Color="Color.Primary" Size="Size.Large" Class="mud-icon-big-font" />
                    <MudText Typo="Typo.h4">Freelancer</MudText>
                    <MudText Typo="Typo.body2">As a freelancer you need to deliver multiple projects at the same time, but if you have the tool to create the base of your project unlimited times as client requirement changes? The tool can help you to generate everything required to start a project, ensuring you to have more peace of mind and profit.</MudText>
                </MudStack>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="4">
            <MudPaper Class="d-flex align-start justify-center mud-width-full py-8 px-8" Height="350px"  Elevation="24">
                <MudStack Class="d-flex align-center justify-center mud-width-full">
                    <MudIcon Icon="@Icons.Filled.School" Color="Color.Primary" Size="Size.Large" Class="mud-icon-big-font" />
                    <MudText Typo="Typo.h4">Students</MudText>
                    <MudText Typo="Typo.body2">This is a great tool to start working on your development, even if you have a basic idea you can build awesome & cool apps without worry about where to start. Automator give you an easy path to learn and see the things working from day one and make you industry ready!</MudText>
                </MudStack>
            </MudPaper>
        </MudItem>
     
    </MudGrid>
</MudContainer>
<div Style="background-color:#AD24A2" class="pt-2">
<MudContainer MaxWidth="MaxWidth.Large" Class="pt-8 pb-8">
        <MudPaper Elevation="0" Class="d-flex justify-center flex-grow-1" Style="background-color:transparent">
        <MudStack>
                <MudText Typo="Typo.h4" Class="align-self-center" Color="Color.Tertiary">
                Trusted by over 800+ great entrepreneur
            </MudText>
            <MudText Typo="Typo.h6" Class="align-self-center" Color="Color.Tertiary">
                Automator tool perform a smart analysis of your database and generate the required source code.
            </MudText>
        </MudStack>
    </MudPaper>
</MudContainer>
</div>
<Features></Features>
<FAQ></FAQ>
<MudDivider DividerType="DividerType.Middle" Class="my-6" />
<Footer></Footer>