
<MudContainer Fixed="true">
    <MudGrid>
        <MudItem xs="12" md="5" lg="5">
            <MudPaper Class="px-4 py-8" Elevation="0">
                <MudText Typo="Typo.h3">Premium &lt;Code&gt; Automation Tool</MudText>
                <MudText Typo="Typo.subtitle1">
                    Are you investing too much of your time on writing the same code? Are you still waiting for backend APIs for your mobile app ideas?
                    Let's make your development easier with  Automator by reducing cost & time. It helps you to generate REST API with JWT token authentication & Admin Panel. The tool also generate the API documentation like Postman / Swagger.
                    <span class="smallicon devicons devicons-techcrunch"></span>
                </MudText>
               
            </MudPaper>
        </MudItem>
         <MudItem xs="12" md="1" lg="1">
             </MudItem>
        <MudItem xs="12" md="6" lg="6">
            <MudCard>
                
                <MudCardContent Style="height: 350px;">
                    <iframe width="560" height="415" src="https://www.youtube.com/embed/qF5-FzqAW9g" title="YouTube video player" 
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen></iframe>
                </MudCardContent>
               
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>
